.weather {
  position: relative;
}

.weather__info {
  position: absolute;
  top: 20px;
  left: 12px;
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
}

.weather__image {
  width: 100%;
  border-radius: 12px;
}

.main {
  padding: 0 40px;
}

.card__header {
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 40px 0 40px 34px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 17px;
  margin-top: 34px;
  list-style: none;
}

.card {
  position: relative;
  cursor: pointer;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

.card__name {
  position: absolute;
  top: 10px;
  right: 125px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 16px 0 0 0;
  padding: 2px 12px;
}
